<xz```````````````````````````````````````````````````````` =
.env
**/.vscode/
**/*egg*
**/*.pyc
**/*_cache
*coverage*

venv/
**/.terraform*
/dependencies/layers/*
/dependencies/packages/*
**/__pycache__/** */
!/dependencies/layers/.gitkeep
!/dependencies/packages/.gitkeep
/deployment/handlers/*
!/deployment/handlers/.gitkeep

terraform/terraform.tfvars
///NNC< VNFJUFUUUUUUUFNNFFHHHHNNNNM







,,,LLLL ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ--------------------------BAAAA<<++++++++++++++                 nnn-

ezra LALI BABI BANBBB 










MAMI  coverag"'''';,.                                                                                                                                                                                                                                                                                                                           X;K'JCV T NNNNNNNNNNNNNN  
BBM B           KLL KKKKKKKKKKKKKKKKKKKKKKKKK                                                                                                                                                                                                                                                                                                                                                                                                  ":?I]\\\\\\\\\\\\\=oo"9'i   x z<<XAAX